.ProductDetail {
    height: 100vh;
    background: #E89ABF;
    width: 100%;
    height: 100vh;
}

.ButtonsProductsDetail{
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items:center ;
    gap: 5%;
    width: 20%;
    align-self: center; 
}

.mainContainerProduct{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 15%;
}
.mobileNavbarContainer{
  display: none;
}
.illustrationContainer {
  
  display: none; 
}

.mobileOnly {
 
  display: none; 
}

@media screen and (max-width: 400px) {
    .ButtonsProductsDetail {
   
      width: 60%; 
      justify-content: center;  
      align-items: center;
    }

    .illustrationContainer {
      
      display: block;
    }
  
    .mobileOnly {
     
      display: block; 
    }
  
    

  }
  
  
  @media screen and (min-width: 401px) and (max-width: 1024px) {
    .ButtonsProductsDetail {
        
      width: 30%; 
    }
    .illustrationContainer {
      
      display: block;
    }
  
    .mobileOnly {
     
      display: block; 
    }
  
  
  }

