.errorContainer {
    height: 100vh;
    background: rgb(255, 162, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 35%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}