.home{
    background: #1D5AD5;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.homeButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    
}