
.home {
  background: #1D5AD5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
}

.homeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 75%;
  margin-top: 20px;
  align-self: center;
}

.homeMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sloganContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logoContainer {
  display: flex;
  margin: 5%;
  width: 100%;
  justify-content: center;
}

.logoContainer img {
  max-width: 70%;
  height: auto;
}

.homeMainContainer img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.4rem;
  margin-top: 2rem;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 375px) {
  .logoContainer img {
    max-width: 50%;
  }

  h1 {
    font-size: 20px;
  }

  .homeButtons {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    width: 70%;
    margin: 3%;
    align-items: center;

  
  }
  
  .homeMainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .sloganContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }
  
  @media screen and (max-width: 400px) {
    .homeButtons {
      width: 90%; 
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 1024px) {
    .homeButtons {
      width: 60%; 
    }
  }
  
=======
    gap: 5px;
    margin-bottom: 15%;
  }
}
>>>>>>> a94668dfdc6f64b5d48bec0a118971df22d9aaea
