.ProductDetail {
    height: 100vh;
    background: #E89ABF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 25%;
}

.BlueButton {
    background-color: blue;
    width: 20%;
}

.YellowButton {
    background-color: yellow;
    width: 20%;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}