.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card .card-content {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .card:hover .card-content {
    opacity: 1;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .card-content p {
    margin-bottom: 10px;
  }
  
  .card-fav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .card-fav i {
    color: red;
  }

/* SOLO PARA TEXTO */

.product-container{
  
  padding: 5%;
  margin: 5%;
  width: 20rem;
  height: max-content;


  
}

.product-container-white {
  
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5%;
  margin: 5%;
  width: 20rem;
  height: max-content;

  border-radius: 4px;

}


  